.EventCards{
    margin:10px;
}
.Event{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.Mid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:10px;
    width: 100%;
    margin-left:0%;
    background-color:rgb(17, 140, 105,0.2);

    margin-bottom: 2px;
}

